<div class="footer">
  <div class="container-fluid">
    <div class="footer-info">
      <%= image_tag asset_path('Kollab-Logo.png'), class: "logo", style: "height: 35px; width: auto;" %>
      <h1></h1>
      <h3>Art Gallery Organization</h3>
      <p>
        Kollab Art Gallery Office 2 Chome-11-3 Meguro, Meguro City, Tokyo<br>
        Telephone: +81-80-9290-8767<br>
        E-mail: kollabartgallery@gmail.com
      </p>
    </div>
    <div class="footer-links">
      <p class="find-us">Find us on</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
