<%= render "shared/navbar" %>
<%= render "shared/flashes" %>

<div> <!-- hero image container -->
  <div class="home_hero_image">
    <div class="page-container">
      <h1>Find the<span class="flare"> perfect space</span><br>for your artwork</h1>
      <p style="margin-top: 16px;"> <span style="background-color: white; border: solid 1px black; border-radius: 50px; padding: 8px; color: gray; padding-left: 16px;">Search by area...</span> <span style="background-color: rgb(25, 25, 25); border: solid 1px black; border-radius: 50px; padding: 8px; color: white; text-align: center;">Search</span></p>
    </div>
  </div>
</div> <!-- hero image container END -->

<div class="page-container">
  <h2>Popular galleries in your area</h2>
</div>
