.button-standard {
  border: solid 1px rgb(25, 25, 25);
  border-radius: 50px;
  padding: 8px 24px;
  text-decoration: none;
  width: 100%;
  margin-top: 8px;
  color:rgb(25, 25, 25);
  transition: 0.3s;

  &:hover {
    color: #E88A3D;
    border: solid 1px #E88A3D;
  }
}

.button-user-dashboard-add-gallery {
  border: solid 1px rgb(25, 25, 25);
  border-radius: 50px;
  padding: 8px 24px;
  text-decoration: none;
  width: 208px;
  margin-top: 8px;
  color:rgb(25, 25, 25);
  transition: 0.3s;

  &:hover {
    color: #E88A3D;
    border: solid 1px #E88A3D;
  }
}

.button-reserve-temporary {
  border: solid 1px #191919;
    border-radius: 50px;
    padding: 16px;
    text-decoration: none;
    height: 64px;
    margin-top: 8px;
    color: #191919;
    transition: 0.3s;
    width: 320px;
    text-align: center;
}
