.button-standard {
  border: solid 1px rgb(25, 25, 25);
  border-radius: 50px;
  padding: 8px 24px;
  text-decoration: none;
  width: 100%;
  margin-top: 8px;
  color:rgb(25, 25, 25);
  transition: 0.3s;

  &:hover {
    color: #E88A3D;
    border: solid 1px #E88A3D;
  }
}

.button-user-dashboard-add-gallery {
  border: solid 1px rgb(25, 25, 25);
  border-radius: 50px;
  padding: 8px 24px;
  text-decoration: none;
  width: 208px;
  margin-top: 8px;
  color:rgb(25, 25, 25);
  transition: 0.3s;

  &:hover {
    color: #E88A3D;
    border: solid 1px #E88A3D;
  }
}

.button-reserve-temporary {
  border: solid 1px #191919;
    border-radius: 50px;
    padding: 16px;
    text-decoration: none;
    height: 64px;
    margin-top: 8px;
    color: #191919;
    transition: 0.3s;
    width: 320px;
    text-align: center;
}

.button-dashboard {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 8px 24px;
    text-decoration: none;
    padding-left: 115px;
    padding-right: 116px;
    margin-top: 8px;
    color: #191919;
    transition: 0.2s;
    border-top: 0px;

  &:hover {
    color: #E88A3D;
  }
}

.button-dashboard-v2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    color: #191919;
    transition: 0.2s;
    text-decoration: none;
    &:hover {
      color: #E88A3D;
    }

    span {
      position: absolute;
      bottom: 10px;
      bottom: 6px;
      right: 124px;
    }
}


.hidden {
  display: none;
  }

.cancel {
  color: rgb(100, 100, 100);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  &:hover {
    color: #E88A3D;
  }
}
