.gallery-card {
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 0px 5px rgba(25, 25, 25, 0.20);
  background: rgb(254, 254, 254);
  transition: border 0.3s;
  border: solid 2px transparent;

  &:hover {
    border: solid 2px #FC22D3;
  }
}

 .application-card {
  border-radius: 8px;
  padding: 16px;
  background-color: rgb(254, 254, 254);
  margin-top: 24px;
  box-shadow: 0px 0px 5px rgba(25, 25, 25, .2);
  transition: border 0.3s;
  border: solid 2px transparent;


  &:hover {
    border: solid 2px #FC22D3;
  }
}

.application-card-image {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0px;
}

.applications-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.pending-card {
  display: flex;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  grid-gap: 24px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  position: relative;
  align-items: center;

   img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product-infos {
    padding: 16px;
  }
}

.dashboard-details {
  width: 75%;
  position: relative;
}
