.gallery-card {
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 0px 5px rgba(25, 25, 25, 0.20);
  background: rgb(254, 254, 254);
  transition: border 0.3s;
  border: solid 2px transparent;

  &:hover {
    border: solid 2px #FC22D3;
  }
}

 .application-card {
  display: flex;
  height: 320px;
  width: 320px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin-top: 24px;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);


  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .button {
    position: absolute;
    bottom: 10px;
  }

  .title {
    position: absolute;
    bottom: 120px;
    left: 10px;
  }

  .description {
    position: absolute;
    bottom: 50px;
    left: 10px;
  }

  p {
    margin: 0;
    color: #a6a3a3;
  }
}

.application-card-image {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0px;
}

.applications-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pending-card {
  display: flex;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  grid-gap: 24px;
}
